<template id="">
    <div class="">
        <!-- <h3>ビンゴカード</h3> -->
        <div class="d-flex justify-content-center">
            <div class="spinner-border m-5" style="width: 10rem; height: 10rem;" 
                role="status" v-if="flag == false">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <table class="table table-bordered mx-1" v-if="flag == true" style="table-layout:fixed;">
            <tr class="" v-for="n of 5" :key="n">
                <td :id="(n - 1) * 5 + (m - 1)" class="col p-0" v-for="m of 5" :key="m" 
                    @click="background((n - 1) * 5 + (m - 1))">
                    <div class="text-center">
                        <img class="bingo-image"
                          :src="image[(n - 1) * 5 + (m - 1)]['src']" alt="">
                        <p class="no-look-sm">{{image[(n - 1) * 5 + (m - 1)]['name']}}</p>
                    </div>
                </td>
            </tr>
        </table>
        <div class="text-right">
            <button class="btn btn-danger" style="width:120px;" @click="back">
                戻る
            </button>
          </div>
    </div>
</template>

<script>
export default{
    data(){
        return{
            image:"",
            flag:false
        }
    },
    mounted(){
        var url = "/api/bingo/getdata";
        axios.get(url)
            .then((response)=>{
                this.image = response.data;
                this.flag = true;
            })
    },
    methods:{
        background(number){
            var id = document.getElementById(number);
            id.classList.toggle("bg-danger");
        },
        back(){
            this.$emit("back");
        }
    }
}
</script>
