<template>
    <div class="app my-4">
        <h1>いらすとやビンゴ</h1>
        <component
          :is="currentView"
          @organizer="organizer"
          @participation="participation"
          @back="back">
        </component>
    </div>
</template>

<script>

import top from "./BingoTop.vue";
import organizer from "./BingoOrganizer.vue";
import participation from "./BingoParticipation.vue";

export default{
    components:{
        top,
        organizer,
        participation
    },
    data(){
        return{
            currentView: 'top'
        }
    },
    mounted(){

    },
    methods:{
        organizer(){
            this.currentView = "organizer";
        },
        participation(){
            this.currentView = "participation";
        },
        back(){
            this.currentView = "top";
        }
    }
}

</script>
