<template id="">
    <div class="app my-4">
          <div class="row my-5">
              <div class="col-12 col-sm-4">
                  <div class="text-center">
                      <button class="btn btn-primary mx-auto" type="button" name="button"
                        style="width:200px;"
                        v-if="continued == true" @click="roulette">
                          ルーレットスタート
                      </button>
                      <button class="btn btn-secondary mx-auto" type="button" name="button"
                        style="width:200px;"
                        v-if="continued == false">
                          ルーレット終了
                      </button>
                  </div>
                  <div class="card text-center my-5 py-5">
                      <div class="justify-content-center">
                          <img :src="this.top_image"
                            style="width:200px;" >
                          <p>{{this.top_name}}</p>
                      </div>
                  </div>
                  <div>
                      <h3>ルール</h3>
                      <p>・参加者の方は最初に真ん中をクリックして開けてください。</p>
                      <p>・ルーレットで絵が出た時、同じ絵をクリックして開けてください。</p>
                  </div>
              </div>
              <div class="col-12 col-sm-8 card text-center">
                  <p class="my-2">現在：{{this.counter}}枚オープン</p>
                  <div id="enter_element" class="row">
                  </div>
              </div>
          </div>
          <div class="text-right">
              <button class="btn btn-danger" style="width:120px;"
                @click="back">
                戻る
            </button>
          </div>

    </div>
</template>

<script>

export default{
    data(){
        return{
            top_image:"/image/irasutoya/top.png",
            top_name:"",
            image:[],
            counter:0,
            continued:true,
        }
    },
    mounted(){
        var url = "/api/bingo/getdata";
        axios.get(url)
            .then((response)=>{
                this.image = response.data;
            })
    },
    methods:{
        roulette(){
            //定義
            var i = this.counter;
            const new_div = document.createElement("div");
            const new_img = document.createElement("img");
            const enter_element = document.getElementById("enter_element");
            //img要素の編集
            new_div.className = "col-2";
            new_img.className = "w-100"
            new_img.src = this.image[i].src;
            new_div.appendChild(new_img);
            // console.log(new_div);
            //img要素の挿入
            enter_element.appendChild(new_div);
            //抽出されたデータを挿入する
            this.top_image = this.image[i].src;
            this.top_name = this.image[i].name;
            //カウンターを進めて、もし最後まで行った場合はボタンを黒くする
            this.counter++;
            if(this.counter == this.image.length){
                this.continued = false;
            }
        },
        back(){
            this.$emit("back");
        }
    }
}

</script>
