<template>
    <div class="app my-4">
        <div class="row justify-content-around">
            <div class="col-12 col-sm-5">
                <div class="card p-4 my-4" style="height:600px;">
                    <h2>大会を開く</h2>
                    <p>ビンゴ大会を開く人はこちらをクリックしてください。ビンゴ大会の抽選画面に移動します。</p>
                    <div class="text-center" style="height:350px;">
                        <img class="w-75" src="/image/irasutoya/bingo_top1.png" alt="">
                    </div>
                    <button class="btn btn-primary" type="button" name="button"
                      @click="organizer">スタート</button>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="card p-4 my-4"  style="height:600px;">
                    <h2>大会に参加する</h2>
                    <p>ビンゴ大会に参加する人はこちらをクリックしてください。ビンゴ大会のカードが作成されます。</p>
                    <div class="text-center" style="height:350px;">
                        <img class="w-75" src="/image/irasutoya/bingo_top2.png" alt="">
                    </div>
                    <button class="btn btn-primary" type="button" name="button"
                      @click="participation">スタート</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default{
    data(){
        return{

        }
    },
    mounted(){

    },
    methods:{
        organizer(){
            this.$emit('organizer');
        },
        participation(){
            this.$emit('participation');
        }
    }
}
</script>
