<template>
    <div class="">
        <transition name="fade">
            <div class="message" v-if="suc_msg">
                <div class="alert alert-success fixed-top w-50 mx-auto mt-4">
                    {{suc_msg}}
                    <button class="close" @click="close_alert">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="message" v-if="err_msg">
                <div class="alert alert-danger fixed-top w-50 mx-auto mt-4">
                    {{err_msg}}
                    <button class="close" @click="close_alert">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

export default {
    props:{
        "suc_msg":[String,Boolean],
        "err_msg":[String,Boolean],
    },
    methods:{
        close_alert(){
            this.$emit("close_alert");
        },
    },
}

</script>

<style media="screen">
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s
  }
  .fade-enter, .fade-leave {
  opacity: 0
  }
</style>
