<template>
    <div class="py-5 px-3">
        <h2>各リーダーの戦績</h2>
        <table class="table table-bordered table-sm px-5"
        style="table-layout:fixed;"
        v-for="(leader,index) in leaders">
            <tr>
                <td class="" colspan="4">
                    <p class="my-3" style="font-size:20px;">{{leader.leader_name}}</p>
                </td>
            </tr>
            <tr>
                
                <td style="width:15%">勝率</td>
                <td style="width:25%">{{battle_history[index].win_rate}}%</td>
                <td style="width:15%">勝敗</td>
                <td style="width:25%">{{battle_history[index].win}}勝{{battle_history[index].lose}}敗</td>
            </tr>
            <tr>
                <td>先攻</td>
                <td>{{battle_history[index].first}}回</td>
                <td>後攻</td>
                <td>{{battle_history[index].second}}回</td>
            </tr>
            <tr>
                <td>代表デッキ</td>
                <td colspan="3">
                    <input class="form-control" type="text" name="" v-model="representative_deck[index]" @change="reg_rep_deck(index,leader.id)">
                </td>
            </tr>
            <tr>
                <td rowspan="2">メモ</td>
                <td rowspan="2" colspan="3">
                    <textarea class="form-control" name="name" rows="8" cols="80" v-model="memo[index]" @change="reg_memo(index,leader.id)"></textarea>
                </td>
            </tr>
        </table>

        
        <div class="text-right">
            <p class="d-inline-block" style="font-size:12px;">※代表デッキやメモは書くと自動で保存されます。</p>
        </div>

        <alert
          :suc_msg="success_message"
          :err_msg="error_message"
          @close_alert="closeAlert"></alert>
    </div>
</template>

<script>

export default {
    props:{
        "leaders":Array,
        "battle_history":Array,
        "deck":Object,
        "alert":String
    },
    data(){
        return{
            representative_deck:[],
            memo:[],
            //フラッシュメッセージ関連
            success_message:"",
            error_message:"",
        }
    },
    created(){
        this.representative_deck = new Array(this.leaders.length);
        this.memo = new Array(this.leaders.length);
        this.battle_history.forEach((value,index) => {
            this.representative_deck[index] = value.representative_deck;
            this.memo[index] = value.memo;
        })
    },
    mounted(){
        //アラートメッセージがあった場合、アラートを走らせる
        if(this.alert != ""){
            this.openSuccessAlert(this.alert);
        }
    },
    methods:{
        reg_rep_deck(index,leader_id){
            axios
              .post(
                  "/api/deckdetaildata/repregister",
                  {
                      "content":this.representative_deck[index],
                      "leader_id":leader_id,
                      "deck_id":this.deck.id
                  }
              )
              .then((response) => {

              })
        },
        reg_memo(index,leader_id){
            axios
              .post(
                  "/api/deckdetaildata/memoregister",
                  {
                      "content":this.memo[index],
                      "leader_id":leader_id,
                      "deck_id":this.deck.id
                  }
              )
              .then((response) => {

              })
        },
        //アラートを開く・閉じる
        openSuccessAlert(msg){
            this.success_message = msg;
            setTimeout(() => {
                this.success_message = false
            }, 7000);
        },
        closeAlert(){
            this.success_message = false;
            this.error_message = false;
        }
    }
}

</script>
