<template >
    <div class="app">
        <h3>リーダー別勝利数</h3>
        <div class="alert alert-danger" v-if="this.win_rate == 0">
            <p>データが少ないため、グラフを表示できません。</p>
        </div>
        <chart
          v-if="this.win_rate > 0"
          :leaders="this.leaders"
          :battle_history="this.battle_history">
        </chart>
    </div>
</template>

<script>
import Chart from './plugin/chart';

export default {
    props:{
        "win_rate":Number,
        "leaders":Array,
        "battle_history":Array,
    },
    components: {
      Chart,
    },
}
</script>
