<template id="">
  <div class = "framework">
    <div v-for="deck in decks"
      :key="deck.id">
      <div class="card mx-2 mb-4 float-left" style="width:28rem;">
          <div id="" class="d-flex flex-row card-header text-white pt-4 pb-4" style="background-color:#29ABE2">
              <div class="title">{{deck.name}}</div>
              <div class="">
                  <div class="tags">{{deck.leader}}</div>
                  <div class="tags">{{deck.type}}</div>
              </div>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="card-subtitle card-font1">勝率</div>
                          <div class="ml-3 card-font2">20%</div>
                      </div>
                      <div class="col-md-6">
                          <div class="card-subtitle card-font1">勝利数</div>
                          <div class="ml-3 card-font2">42勝</div>
                      </div>
                  </div>
              </li>
              <li class="list-group-item">
                  <p class="text-center mt-3 card-font1">ゼシカに強いデッキ</p>
              </li>
              <li class="list-group-item text-center">
                  <a href="" class="btn btn-success rounded">確認</a>
                  <a href="" class="btn btn-primary rounded">詳細</a>
                  <a href="" class="btn btn-danger rounded">削除</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="float-left w-100">
        <nav aria-label="Page navigation">
            <ul class="pagination align-middle">
                <li class="page-item" :class="{disabled: current_page <= 1}"><a class="page-link" href="#" @click="change(1)">&laquo;</a></li>
                <li class="page-item" :class="{disabled: current_page <= 1}"><a class="page-link" href="#" @click="change(current_page - 1)">&lt;</a></li>
                <li class="page-item" v-for="" :key="page" :class="{active: page === current_page}">
                    <a href="#" class="page-link" @click="change(page)">{{current_page}}</a>
                </li>
                <li class="page-item" :class="{disabled: current_page >= last_page}"><a class="page-link" href="#" @click="change(current_page + 1)">&gt;</a></li>
                <li class="page-item" :class="{disabled: current_page >= last_page}"><a class="page-link" href="#" @click="change(last_page)">&raquo;</a></li>
            </ul>
        </nav>
        <div class="col-sm-6 text-right">全 {{total}} 件中 {{from}} 〜 {{to}} 件表示</div>
        <nav class="d-inline-block my-auto" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
    </div>
  </div>
</template>

<script type="text/javascript">
    export default {
        data() {
            return {
                decks: [],
                current_page: 1,
                last_page: 1,
                total: 1,
                from: 1,
                to: 0,
            }
        },
        mounted(){
            var url = "/ajax/userdeckdata";
            var self = this;
            var current_count = 1;
            console.log(url);
            console.log("hello");
            axios.get(url).then(function(response){
                var total = response.data.length;
                console.log(total);
                for(let i = 0 ; i<=3 ; i++){
                  self.decks[i] = response.data[i];
                }
                self.current_page = current_count;
                self.total = total;
                if(total % 4 == 0){
                    self.last_page  = total / 4;
                }else{
                    self.last_page = total / 4 + 1;
                }
                self.from = current_count * 4 - 3;
                self.to =  current_count * 4;
            })

        },
    }
</script>
