<template>
    <div id="app" class="py-5 px-3">
        <div class="container">
            <div class="row">
                <h2>対戦ログ</h2>
            </div>
            <div class="row table-responsive">
                <table class="table table-bordered table-sm" style="table-layout:fixed;"
                  v-if="opponents.length > 0">
                    <tr>
                        <th style="width:100px;">試合日</th>
                        <th style="width:170px;">相手のデッキ</th>
                        <th style="width:80px;">リーダー</th>
                        <th style="width:50px;">順番</th>
                        <th style="width:50px;">勝敗</th>
                        <th style="width:200px;">備考</th>
                        <th style="width:80px;">設定</th>
                    </tr>
                    <tr v-for="(opponent,index) in getNewOpponents">
                        <td>{{opponent.date}}</td>
                        <td>{{opponent.deck_name}}</td>
                        <td>{{opponent.leader}}</td>
                        <td>{{opponent.order_name}}</td>
                        <td>{{opponent.win_or_lose_name}}</td>
                        <td style="width:30%;">{{opponent.memo}}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" :id="opponent.id"
                                  class="btn btn-secondary btn-sm dropdown-toggle"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false">
                                  設定
                                </button>
                                <div class="dropdown-menu" :aria-labelledby="opponent.id">
                                    <button class="dropdown-item" type="button" name="button"
                                      data-toggle="modal" data-target="#edit_deck"
                                      @click="editOpponentDeck(index)">
                                        <i class="fa fa-edit"></i>編集
                                    </button>
                                    <button class="dropdown-item text-danger"
                                      data-toggle="modal" data-target="#opponent_delete"
                                      @click="clickDeleteOpponentDeck(opponent.id)">
                                        <i class="fa fa-trash"></i>削除
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div v-if="opponents.length == 0" class="w-100 alert alert-danger">
                    <div class="">対戦相手の情報が登録されておりません。対戦デッキ登録から登録してください。</div>
                </div>
            </div>
            <div class="text-center">
                <paginate
                  :page-count="getPageCount"
                  :page-range="5"
                  :margin-pages="10"
                  :click-handler="clickCallback"
                  :prev-text="'＜'"
                  :next-text="'＞'"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :next-class="'page-item'"
                  :next-link-class="'page-link'"
                  :prev-class="'page-item'"
                  :prev-link-class="'page-link'"
                  >
              </paginate>
            </div>
        </div>

        <!-- 編集モーダル -->
        <div class="modal fade" id="edit_deck" tabindex="-1"
              role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label1">デッキ編集</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="deck_name">デッキ名：</label>
                            <input type="text" name="deck_name" class="form-control"
                              :value="deck_edit.deck_name">
                        </div>
                        <div class="form-group">
                            <label for="leader_id">リーダー：</label>
                            <select class="form-control" name="leader_id" v-model="deck_edit.leader_id">
                                <option disable selected>選択してください。</option>
                                <option v-for="leader in leaders" :value="leader.id">
                                    {{leader.leader_name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="win_or_lose">勝敗：</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                  name="win_or_lose" id="win_or_lose_1"
                                  value="0" v-model="deck_edit.win_or_lose">
                                <label class="form-check-label" for="win_or_lose_1">勝利</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                  name="win_or_lose" id="win_or_lose_2"
                                  value="1" v-model="deck_edit.win_or_lose">
                                <label class="form-check-label" for="win_or_lose_2">敗北</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="order">先攻・後攻：</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                  name="order" id="order_1"
                                  value="0" v-model="deck_edit.order">
                                <label class="form-check-label" for="order_1">先攻</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                  name="order" id="order_2"
                                  value="1" v-model="deck_edit.order">
                                <label class="form-check-label" for="order_2">後攻</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="memo">メモ：</label>
                            <textarea name="memo" rows="8" class="form-control" v-model="deck_edit.memo"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">閉じる</button>
                        <button class="btn btn-success" @click="editedOpponentDeck">登録</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 削除モーダル -->
        <div class="modal fade" id="opponent_delete" tabindex="-1"
          role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label1">デッキ削除</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        この対戦デッキを削除してもよろしいですか？<br>（一度消したデータは戻りません。）
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">戻る</button>
                        <button @click="deleteOpponentDeck(delete_opponent_id)" type="button" class="btn btn-danger">削除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import VueAxios from 'vue-axios';
import moment from 'moment';
import Paginate from 'vuejs-paginate'

Vue.component('paginate', Paginate)

export default{
    props:{
        "leaders":Array,
        "deck":Object,
        "opponents":Array,
    },
    created(){
        this.opponents.forEach((value,index) => {
            //勝敗の設定
            if(value.win_or_lose == 0){
                value.win_or_lose_name = "勝利"
            }else{
                value.win_or_lose_name = "敗北"
            }
            //先攻・後攻の設定
            if(value.order == 0){
                value.order_name = "先攻"
            }else{
                value.order_name = "後攻"
            }
            this.leaders.forEach((leader) => {
                if(value.leader_id == leader.id){
                    value.leader = leader.leader_name;
                }
            })
            //日にちの設定
            value.date = moment(value.created_at).format('Y/MM/DD');
        })
    },
    data(){
        return{
            currentPage: 1,
            parPage: 5,
            //編集の際に利用する
            deck_edit:{
                "id":"",
                "deck_name":"",
                "leader_id":"",
                "win_or_lose":"",
                "order":"",
                "memo":""
            },
            delete_opponent_id:""
        }
    },
    methods:{
        clickCallback(pageNum){
           this.currentPage = Number(pageNum);
        },
        editOpponentDeck(index){
            var edit = this.deck_edit;
            edit.id = this.opponents[index].id;
            edit.deck_name = this.opponents[index].deck_name;
            edit.leader_id = this.opponents[index].leader_id;
            edit.win_or_lose = this.opponents[index].win_or_lose;
            edit.order = this.opponents[index].order;
            edit.memo = this.opponents[index].memo;
        },
        editedOpponentDeck(){
            //別にajaxで飛ばさなくてもいいかも。。。
            axios.post(
                "/api/deckdetaildata/editopponent",
                {"edit":this.deck_edit,"deck_id":this.deck.id}
            ).then(()=>{
                console.log(this.deck_edit.id);
                window.location.href = '/mypage/detail/' + this.deck.id;
            })
        },
        clickDeleteOpponentDeck(id){
            this.delete_opponent_id = id;
        },
        deleteOpponentDeck(id){
            axios.post(
                "/api/deckdetaildata/deleteopponent",
                {"del_opponent_deck_id":id,"deck_id":this.deck.id}
            ).then(()=>{
                window.location.href = '/mypage/detail/' + this.deck.id;
            })
        }
    },
    computed:{
        getNewOpponents: function() {
           let current = this.currentPage * this.parPage;
           let start = current - this.parPage;
           console.log("data" + this.opponents);
           return this.opponents.slice(start, current);
        },
        getPageCount: function() {
            return Math.ceil(this.opponents.length / this.parPage);
        },
    }

}


</script>
