<template id="">
    <div class="app">
        <div class="card-text text-left alert alert-danger m-3" v-if="errors.length > 0">
            <ul class="mb-0" v-for="error in errors">
                <li>{{error}}</li>
            </ul>
        </div>
        <div class="">
            <div class="btn btn-primary" @click="add_format">
                フォーマット追加
            </div>
        </div>
        <div class="row py-2" v-for="(format,index) in formats ">
            <input class="form-control col-9 my-1" v-model="formats[index].format_name">
            <div class="btn btn-danger my-0 col-2" @click="delete_format(index)">
                削除
            </div>
        </div>
        <div class="text-right">
            <a href="/mypage/game/register/step2" class="btn btn-danger m-2">戻る</a>
            <a href="/mypage/game/list" class="btn btn-danger m-2">ゲーム一覧へ</a>
            <a href="/mypage/1" class="btn btn-danger m-2">メインメニューへ</a>
            <div class="btn btn-success" @click="move_next_page">次へ</div>
        </div>

    </div>
</template>

<script>
export default{
    props:{
      "get_formats":Array,
      "game_id":Number
    },
    data(){
        return{
            formats:this.get_formats,
            errors:[],
            delete_formats:[],
        }
    },
    mounted(){

    },
    methods: {
        add_format(){
            this.formats.push({"id":0,"format_name":""});
        },
        delete_format(format_index){
            this.delete_formats.push(this.formats[format_index].id);
            this.formats.splice(format_index,1);
        },
        move_next_page(){
            var self = this;
            var url = "/mypage/game/edited/step3/" + this.game_id
            axios.post(url,{"formats":this.formats,"game_id":this.game_id,"delete_formats":this.delete_formats})
              .then(()=>{
                  window.location.href = "/mypage/game/list"
              })
        },
        validation(){
            if(this.formats.length == 0){
                this.errors.push("フォーマットが登録されておりません。");
            }
            for(var i=0 ; i < this.formats.length ; i++){
                if(this.formats[i] == ""){
                    this.errors.push('フォーマット名が入力されていない箇所がございます。');
                    break;
                }
            }
        }
    }
}
</script>
