<template id="">
    <div class="app">
        <div class="">
            <div class="btn btn-primary" @click="add_format">
                フォーマット追加
            </div>
        </div>
        <div class="row py-2" v-for="(format,index) in formats ">
            <input class="form-control col-9 my-1" v-model="formats[index]">
            <div class="btn btn-danger my-0 col-2" @click="delete_format(index)">
                削除
            </div>
        </div>
        <div class="text-right" v-if="flag==0">
            <a href="/login" class="btn btn-danger m-2">ログイン画面へ</a>
            <div class="btn btn-success" @click="move_next_page">次へ</div>
        </div>
        <div class="text-right" v-if="flag!=0">
            <a href="/mypage/game/register/step2" class="btn btn-danger m-2">戻る</a>
            <a href="/mypage/game/list" class="btn btn-danger m-2">ゲーム一覧へ</a>
            <a href="/mypage/1" class="btn btn-danger m-2">メインメニューへ</a>
            <div class="btn btn-success" @click="move_next_page">次へ</div>
        </div>

    </div>
</template>

<script>
export default{
    props:{
      "get_formats":Array,
      "flag":Number,
    },
    data(){
        return{
            formats:this.get_formats,
            errors:[]
        }
    },
    mounted(){

    },
    methods: {
        add_format(){
            this.formats.push("");
        },
        delete_format(format_index){
            this.formats.splice(format_index,1);
        },
        move_next_page(){
            var self = this;
            var url = "/api/game/session/format"
            axios.post(url,{"formats":this.formats})
              .then(()=>{
                  if(self.flag == 0){
                      window.location.href = "/register/confirm"
                  }else{
                      window.location.href = "/mypage/game/register/confirm"
                  }

              })
        },
        validation(){
            if(this.formats.length == 0){
                this.errors.push("フォーマットが登録されておりません。");
            }
            for(var i=0 ; i < this.formats.length ; i++){
                if(this.formats[i] == ""){
                    this.errors.push('フォーマット名が入力されていない箇所がございます。');
                    break;
                }
            }
        }
    }
}
</script>
