<template>
    <div class="">
        <!-- バリデーション -->
        <div class="card-text text-left alert alert-danger m-3" v-if="errors.length > 0">
            <ul class="mb-0" v-for="error in errors">
                <li>{{error}}</li>
            </ul>
        </div>
        <!-- 記入欄 -->
        <div class="form-group row">
            <label for="name" class="col-12 col-sm-3 pl-0">
                ゲーム名:<span class="text-danger" style="font-size:10px;">必須</span>
            </label>
            <input type="text" name="name" class="form-control col-12 col-sm-9" v-model="name">
        </div>
        <div class="form-group row">
            <label for="detail" class="col-12 col-sm-3 pl-0">ゲーム詳細:</label>
            <textarea name="detail" rows="6" cols="70"
              class="form-control col-12 col-sm-9" v-model="detail"></textarea>
        </div>
        <p class="text-right" style="font-size:10px;">
            ゲーム名に記入したゲームの詳細情報を記入してください。
        </p>
        <div class="text-right" v-if="flag==0">
            <a href="/login" class="btn btn-danger m-2">ログイン画面へ</a>
            <button name="button" class="btn btn-success m-2"
              @click="moveNextPage">次へ</button>
        </div>

        <div class="text-right" v-if="flag==1">
            <a href="/mypage/game/list" class="btn btn-danger m-2">ゲーム一覧へ</a>
            <a :href="'/mypage/' + this.user_id" class="btn btn-danger m-2">メインメニューへ</a>
            <button name="button" class="btn btn-success m-2"
              @click="moveNextPage">次へ</button>
        </div>

        <div class="text-right" v-if="flag==2">
            <a href="/mypage/game/list" class="btn btn-danger m-2">ゲーム一覧へ</a>
            <a :href="'/mypage/' + this.user_id" class="btn btn-danger m-2">メインメニューへ</a>
            <button name="button" class="btn btn-success m-2"
              @click="editGame">登録</button>
        </div>
    </div>
</template>

<script>
    export default{
        props:{
            'get_game_id':Number,
            'get_name':String,
            'get_detail':String,
            'user_id':Number,
            'flag':Number,
        },
        data(){
            return{
                "name":this.get_name,
                "detail":this.get_detail,
                "game_id":this.get_game_id,
                "errors":[]
            }
        },
        mounted(){

        },
        methods:{
            moveNextPage(){
                //バリデーションチェック
                this.validation();

                if(this.errors.length != 0){
                    return;
                }

                var url = "/api/game/session/game";
                axios
                  .post(url,{"name":this.name,"detail":this.detail})
                  .then((response) => {
                      if(this.flag == 0){
                          window.location.href = "/register/step3"
                      }else{
                          window.location.href = "/mypage/game/register/step2"
                      }

                  })
            },
            editGame(){
                //バリデーションチェック
                this.validation();

                if(this.errors.length != 0){
                    return;
                }

                var url = "/api/game/edited/step1";
                axios
                  .post(url,{"game_id":this.game_id,"name":this.name,"detail":this.detail})
                  .then(()=>{
                      window.location.href = "/mypage/game/list";
                  })
            },
            validation(){
                this.errors = [];

                if(this.name == ""){
                    this.errors.push("ゲーム名が登録されていません。");
                }

            }
        }
    }
</script>
