<template id="">
    <div class="app">
        <div class="card-text text-left alert alert-danger m-3" v-if="errors.length > 0">
            <ul class="mb-0" v-for="error in errors">
                <li>{{error}}</li>
            </ul>
        </div>
        <div class="">
            <div class="btn btn-primary" @click="add_leader">
                リーダー追加
            </div>
        </div>
        <div class="row py-2" v-for="(leader,index) in leaders ">
            <input class="form-control col-9 my-1" v-model="leaders[index].leader_name">
            <div class="btn btn-danger my-0 col-2" @click="delete_leader(index)">
                削除
            </div>
        </div>
        <div class="text-right">
            <a href="/mypage/game/register/step1" class="btn btn-danger m-2">戻る</a>
            <a href="/mypage/game/list" class="btn btn-danger m-2">ゲーム一覧へ</a>
            <a href="/mypage/1" class="btn btn-danger m-2">メインメニューへ</a>
            <div class="btn btn-success" @click="move_next_page">次へ</div>
        </div>

    </div>
</template>

<script>
import leaderform from '../store/leaderform';

export default{
    props:{
        // "name":String,
        // "detail":String,
        "get_leaders":Array,
        "game_id":Number
    },
    data(){
        return{
            leaders:this.get_leaders,
            errors:[],
            delete_leaders:[],
        }
    },
    mounted(){

    },
    methods: {
        add_leader(){
            this.leaders.push({"id":0,"leader_name":""});
        },
        delete_leader(leader_index){
            this.delete_leaders.push(this.leaders[leader_index].id);
            this.leaders.splice(leader_index,1);
        },
        move_next_page(){
            //エラーのリセット
            this.errors = [];
            //バリデーションの確認
            this.validation();
            if(this.errors.length != 0){
                return;
            }
            //データの保存
            var self = this;
            var url = '/mypage/game/edited/step2/' + this.game_id;
            // axios.post(url,{"leaders":this.leaders,"name":this.name,"detail":this.detail})
            axios.post(url,{"leaders":this.leaders,"game_id":this.game_id,"delete_leaders":this.delete_leaders})
              .then(()=>{
                  window.location.href = "/mypage/game/list"
              })
        },
        validation(){
            if(this.leaders.length == 0){
                this.errors.push("リーダーが登録されておりません。");
            }
            for(var i=0 ; i < this.leaders.length ; i++){
                if(this.leaders[i] == ""){
                    this.errors.push('リーダー名が入力されていない箇所がございます。');
                    break;
                }
            }
        },
    }
}
</script>
