<template>
    <div class="app">
        <!-- ユーザー情報・シーズン選択 -->
        <div class="position-relative">
            <div class="mt-4 border-bottom border-dark">
                <p class="mb-0 top-user-name">{{user.name}}</p>
            </div>
        </div>
        <div class="top-game-info">
            <span>
                ゲーム：{{game.game_name}}
            </span><br>
            <span v-if="seasons.length == 0">
                シーズン：シーズンが登録されていません。
            </span>
            <span v-if="seasons.length > 0">
                シーズン：{{this.season.season_name}}
            </span>
            <div>
                <!-- 次ボタン -->
                <button
                  class="btn btn-success text-white btn-sm rounded m-1"
                  @click="nextSeason"
                  v-if="next_btn_off_flag"
                >
                    次シーズン
                </button>
                <button
                  class="btn btn-secondary text-white btn-sm rounded m-1"
                  v-if="next_btn_off_flag == false"
                >
                    次シーズン
                </button>

                <!-- 前ボタン -->
                <button
                  class="btn btn-success text-white btn-sm rounded m-1"
                  @click="prevSeason"
                  v-if="prev_btn_off_flag"
                >
                    前シーズン
                </button>
                <button
                  class="btn btn-secondary text-white btn-sm rounded m-1"
                  v-if="prev_btn_off_flag == false"
                >
                    前シーズン
                </button>
                <a class="btn btn-info text-white btn-sm rounded btn-width m-1"
                  href="/mypage/game/register/step1">
                    ゲーム登録
                </a>
                <a class="btn btn-info text-white btn-sm rounded m-1"
                  href="/mypage/season/register">
                    シーズン登録
                </a>
            </div>
        </div>
        <!-- 画像が登録されていない場合 -->
        <img src="/image/unknown_person.jpg"
          class="rounded-circle photo_icon border border-dark my-3 d-block position-absolute top-icon"
          v-if="user.icon === null">
        <!-- 画像が登録されている場合 -->
        <img :src="'../storage/image/icon/' + user.icon"
          class="rounded-circle photo_icon border border-dark my-3 d-block position-absolute top-icon"
          v-if="user.icon">
        <!-- 個人成績・お気に入りデッキ -->
        <div class="col-12">
            <div class="row justify-content-around">
                <div class="col-12 col-sm-5">
                    <h2 class="d-inline-block">総合成績</h2>
                    <div class="form-group row">
                        <label for="format" class="col-5">フォーマット</label>
                        <select class="mx-3 col-6 custom-select custom-select-sm" name="format"
                        v-model="select_format">
                            <option value="" disabled selected>
                                選択してください。
                            </option>
                            <option :value="format.id"
                             v-for="(format,index) in formats">
                                {{format.format_name}}
                            </option>
                        </select>
                    </div>

                    <table class="table table-bordered table-sm border-secondary">
                        <tr><td>勝率</td><td>{{win_rate}}%</td></tr>
                        <tr><td>勝敗</td><td>{{win}}勝{{lose}}敗</td></tr>
                        <tr><td>先攻・後攻</td><td>{{first}}回・{{second}}回</td></tr>
                    </table>
                </div>
                <div class="col-12 col-sm-5">
                    <h2 class="d-inline-block">お気に入り</h2>
                    <button class="d-inline-block btn btn-info btn-sm text-white float-right"
                    data-toggle="modal" data-target="#registerFavorite">
                        デッキ変更
                    </button>
                    <div class="modal fade" id="registerFavorite" tabindex="-1"
                    role="dialog" aria-labelledby="label1" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="label1">お気に入りデッキの登録</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row m-4">
                                        <button class="card col-5 mx-4 my-2" style="cursor:pointer;"
                                         v-for="deck in getDecks"
                                         @click="regFavorite(deck.id)"
                                         data-dismiss="modal">
                                            <h4 class="m-3">{{deck.deck_name}}</h4>
                                            <p class="py-2 m-0 text-right">勝率：{{deck.win_rate}}%</p>
                                            <p class="py-2 m-0 text-right">勝利数：{{deck.win}}勝</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" v-if="Object.keys(season_favorite_deck).length == 0">
                        <div class="alert alert-danger">デッキが登録されておりません。デッキを登録してください。</div>
                    </div>
                    <div class="card" v-if="Object.keys(season_favorite_deck).length > 0">
                        <div class="row">
                            <div class="col-6 pl-3 pr-0">
                                <div class="m-2 my-5 justify-text-center">
                                    <h3 class="text-center">{{season_favorite_deck.deck_name}}</h3>
                                    <span class="badge badge-primary mx-3" style="width:80%;">{{season_favorite_deck.format}}</span>
                                    <span class="badge badge-success mx-3" style="width:80%;">{{season_favorite_deck.leader}}</span>
                                </div>
                            </div>
                            <div class="col-6 pl-0 border-left">
                                <p class="border-bottom py-2 m-0" style="font-size:20px; text-align:center;">勝率：{{season_favorite_deck.win_rate}}%</p>
                                <p class="border-bottom py-2 m-0" style="font-size:20px; text-align:center;">勝利数：{{season_favorite_deck.win}}%</p>
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action"
                                    :href="'/mypage/detail/' + season_favorite_deck.id " >
                                        <i class="fas fa-info"></i> デッキ詳細
                                    </a>
                                    <a class="list-group-item list-group-item-action"
                                    :href="'/mypage/deck/edit/' + season_favorite_deck.id ">
                                        <i class="fa fa-edit"></i>デッキ編集
                                    </a>
                                    <button class="list-group-item list-group-item-action text-danger"
                                    data-toggle="modal" :data-target="'#deck_delete'+ season_favorite_deck.id">
                                        <i class="fa fa-trash"></i>デッキ削除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-11 mx-auto mt-3">
            <h2>登録デッキ一覧</h2>
            <div class="" v-if="getDecks.length == 0">
                <div class="alert alert-danger">デッキが登録されておりません。デッキを登録してください。</div>
            </div>

            <div class="row" v-if="getDecks.length > 0">
                <div class="card px-0 m-3 col-12 col-sm-5" v-for="deck in getDecks">
                    <div class="row">
                        <div class="col-6 pl-3 pr-0">
                            <div class="m-2 my-5 justify-text-center">
                                <h3 class="text-center">{{deck.deck_name}}</h3>
                                <span class="badge badge-primary mx-3" style="width:80%;">{{deck.format}}</span>
                                <span class="badge badge-success mx-3" style="width:80%;">{{deck.leader}}</span>
                            </div>
                        </div>
                        <div class="col-6 pl-0 border-left">
                            <p class="border-bottom py-2 m-0" style="font-size:20px; text-align:center;">勝率：{{deck.win_rate}}%</p>
                            <p class="border-bottom py-2 m-0" style="font-size:20px; text-align:center;">勝利数：{{deck.win}}勝</p>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                  :href="'/mypage/detail/' + deck.id" >
                                    <i class="fas fa-info"></i> デッキ詳細
                                </a>
                                <a class="list-group-item list-group-item-action"
                                  :href="'/mypage/deck/edit/' + deck.id">
                                    <i class="fa fa-edit"></i>デッキ編集
                                </a>
                                <button class="list-group-item list-group-item-action text-danger"
                                  data-toggle="modal" :data-target="'#deck_delete'+deck.id">
                                    <i class="fa fa-trash"></i>デッキ削除
                                </button>
                                <div class="modal fade" :id="'deck_delete'+deck.id" tabindex="-1"
                                  role="dialog" aria-labelledby="label1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="label1">デッキ削除</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                このデッキを削除してもよろしいですか？<br>（一度消したデータは戻りません。）
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">戻る</button>
                                                <a :href="'/mypage/detail/delete/' + deck.id" type="button" class="btn btn-danger">削除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <paginate
              :click-handler="clickCallback"
              :page-count="getPageCount"
              :page-range="3"
              :margin-page="2"
              :prev-text="'＜'"
              :next-text="'＞'"
              :container-class="'pagination justify-content-center'"
              :page-class="'page-item'"
              :page-link-class="'page-link'"
              :prev-class="'page-item'"
              :prev-link-class="'page-link'"
              :next-class="'page-item'"
              :next-link-class="'page-link'">
            </paginate>
        </div>

        <alert
          :suc_msg="success_message"
          :err_msg="error_message"
          @close_alert="closeAlert"></alert>

    </div>
</template>

<script>
import Paginate from 'vuejs-paginate';
Vue.component('paginate', Paginate);

export default {
    props:{
        'user':Object,
        'decks':Array,
        "favorite":Array,
        'game':Object,
        'seasons':Array,
        'formats':Array,
        'alert':String,
    },
    data() {
        return {
            parPage:8,
            currentPage:1,
            season:[],
            season_decks:[],
            season_favorite_deck:[],
            season_number:0,
            select_format:"",
            //総合成績関連
            win:"ー",
            lose:"ー",
            win_rate:"ー",
            first:"ー",
            second:"ー",
            //フラッシュメッセージ関連
            success_message:"",
            error_message:"",
            // フラグ関連
            prev_btn_off_flag:true,
            next_btn_off_flag:false,
            change_favorite:false,

            maskClosable:true,
        }
    },
    mounted(){
        //
        this.season = this.seasons[this.season_number];
        //シーズンが少ない場合は"false"にする
        if(this.season_number == this.seasons.length - 1 || this.season_number == this.seasons.length){
            this.prev_btn_off_flag = false;
        }
        //シーズンに合ったデッキを選出
        this.changeSeasonDecks();
        //アラートメッセージがあった場合、アラートを走らせる
        if(this.alert != ""){
            this.openSuccessAlert(this.alert);
        }
    },
    methods: {
        clickCallback(PageNum){
            this.currentPage = Number(pageNum);
        },
        deleteData(){
            console.log("表示！");
        },
        prevSeason(){
            // 前のシーズンに移動
            if(this.season_number >= 0){
                this.season_number++;
                this.season = this.seasons[this.season_number];
            }

            // seasonが一番新しいものならnextボタンを動かないものにする
            if(this.season_number == 0){
                this.next_btn_off_flag = false;
            }else{
                this.next_btn_off_flag = true;
            }
            //seasonが一番古いものならprevボタンを動かないものにする
            if(this.season_number == this.seasons.length - 1){
                this.prev_btn_off_flag = false;
            }else{
                this.prev_btn_off_flag = true;
            }

            this.changeSeasonDecks();

            //総合成績をリセット
            this.resetAllBattleData();

        },
        nextSeason(){
            //次のシーズンに移動
            if(this.season_number <= this.seasons.length - 1){
                this.season_number--;
                this.season = this.seasons[this.season_number];
            }


            // seasonが一番新しいものならnextボタンを動かないものにする
            if(this.season_number == 0){
                this.next_btn_off_flag = false;
            }else{
                this.next_btn_off_flag = true;
            }


            if(this.season_number == this.seasons.length - 1){
                this.prev_btn_off_flag = false;
            }else{
                this.prev_btn_off_flag = true;
            }

            this.changeSeasonDecks();

            //総合成績をリセット
            this.resetAllBattleData();
        },
        changeSeasonDecks(){
            this.season_decks = [];
            this.decks.forEach((deck) => {
                if(deck.season_id == this.season.id){
                    this.season_decks.push(deck);
                }
            })
            this.season_favorite_deck = [];
            this.favorite.forEach((value) => {
                if(value.season_id == this.season.id){
                    this.season_favorite_deck = value;
                }
            })
        },
        regFavorite(deck_id){
            var self = this;
            var url = "/api/main/register/favoritedeck"
            axios
              .post(url,{"deck_id":deck_id,"season_id":this.seasons[this.season_number]})
              .then(()=>{
                  self.season_favorite_deck = [];
                  self.decks.forEach((value) => {
                      if(value.id == deck_id){
                          this.season_favorite_deck = value;
                      }
                  })
                  //アラートの表示
                  this.openSuccessAlert("お気に入りデッキを変更しました。");
              })
        },
        resetAllBattleData(){
            this.select_format = "";
            this.win = "ー";
            this.lose = "ー";
            this.win_rate = "ー";
            this.first = "ー";
            this.second = "ー";
        },
        //アラートを開く・閉じる
        openSuccessAlert(msg){
            this.success_message = msg;
            setTimeout(() => {
                this.success_message = false
            }, 7000);
        },
        closeAlert(){
            this.success_message = false;
            this.error_message = false;
        },
    },
    computed:{
        getDecks() {
            let current = this.currentPage * this.parPage;
            let start = current - this.parPage;
            console.log(this.season_decks.slice(start, current));
            return this.season_decks.slice(start, current);
        },
        getPageCount(){
            return Math.ceil(this.season_decks.length / this.parPage);
        },
    },
    watch:{
        select_format:function(){
            if(this.select_format != ""){
                axios
                  .post(
                      "/api/main/battledata",
                      {"format_id":this.select_format,"season_id":this.season.id}
                  )
                  .then((response)=>{
                      this.win = response.data.win;
                      this.lose = response.data.lose;
                      this.win_rate = response.data.win_rate;
                      this.first = response.data.first;
                      this.second = response.data.second;
                  })
            }

        }
    }
}

</script>