<template>
    <div class="app">
        <div class="card mx-auto my-3" style="width:95%">
              <div class="card-header">
                  <div class="">詳細検索</div>
              </div>
              <div class="card-body">
                  <div class="form-group">
                      <label for="season_name">名前</label>
                      <input class="form-control" type="text"
                        name="season_name" v-model="season_name">
                      <p class="text-right" style="font-size:12px;">
                          アルファベットの大文字・小文字は別文字として認識されます。
                      </p>
                  </div>
                  <div class="">
                      <div class="d-inline float-right btn btn-primary"
                        @click="searchSeason">
                          <i class="fa fa-search"></i>検索
                      </div>
                  </div>
              </div>
        </div>
        <div class="">
            <div class="alert alert-danger w-75 mx-auto" v-if="pg_seasons.length == 0">
                <p>シーズンが登録されておりません。シーズンを登録してください。</p>
                <div class="text-right">
                    <a class="alert-link" href="/mypage/season/register">
                        シーズン登録>>>
                    </a>
                </div>

            </div>
            <div class="table-responsive-sm">
                <table class="table table-bordered mx-3 edit-table" v-if="pg_seasons.length > 0">
                    <thead class="thead-light">
                        <tr class="">
                            <th class="" style="width:35px;">ID</th>
                            <th class="" style="width:200px;">シーズン名</th>
                            <th class="" style="width:220px;">シーズン詳細</th>
                            <th class="" style="width:100px;">勝率</th>
                            <th class="" style="width:100px">設定</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" v-for="(season,index) in getSeasons">
                            <th class="">{{index + 1}}</th>
                            <th class="">{{season.season_name}}</th>
                            <th class="">{{season.season_detail}}</th>
                            <th class="">{{season.battle_data.win_rate}}%</th>
                            <th class="">
                            <div class="dropdown">
                                <button type="button" :id="'dropdown' + index"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    設定
                                </button>
                                <div class="dropdown-menu" :aria-labelledby="'dropdown' + index">
                                    <a class="dropdown-item" :href="'/mypage/season/edit/' + season.id">
                                        <i class="fa fa-edit"></i>編集
                                    </a>
                                    <div class="dropdown-item text-danger" @click="showDeleteModal(season.id)">
                                        <i class="fa fa-trash"></i>削除
                                    </div>
                                </div>
                            </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <paginate
              :click-handler="clickCallback"
              :page-count="getPageCount"
              :page-range="3"
              :margin-page="2"
              :prev-text="'＜'"
              :next-text="'＞'"
              :container-class="'pagination justify-content-center'"
              :page-class="'page-item'"
              :page-link-class="'page-link'"
              :prev-class="'page-item'"
              :prev-link-class="'page-link'"
              :next-class="'page-item'"
              :next-link-class="'page-link'">
            </paginate>
        </div>

        <alert
          :suc_msg="success_message"
          :err_msg="error_message"
          @close_alert="closeAlert"></alert>

        <modal name="delete_modal" :height="255">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">シーズン削除</h2>
                </div>
                <div class="modal-body">
                    <p class="">このシーズンを削除しますか？<br>（削除するとこのシーズンの全てのデータが削除されます。）</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @click="closeDeleteModal">戻る</button>
                    <button class="btn btn-danger" @click="deleteSeason">削除</button>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
import VModal from 'vue-js-modal'
import Paginate from 'vuejs-paginate';

Vue.use(VModal);
Vue.component('paginate', Paginate);

export default {
    props:{
        'user_id':Number,
        'list':Array,
        'alert':String,
    },
    data(){
        return {
            pg_seasons:this.list,
            parPage:8,
            currentPage:1,
            //検索する値
            season_name:"",
            //アラートメッセージのフラグ
            success_message:false,
            error_message:false,
            //削除対象のゲーム
            delete_game_id:"",
        }
    },
    mounted(){
        if(this.alert != ""){
            this.openSuccessAlert(this.alert);
        }
    },
    methods: {
        clickCallback(PageNum){
            this.currentPage = Number(pageNum);
        },
        //シーズンの検索
        searchSeason(){
            this.pg_seasons = [];
            this.list.forEach((season) => {
                //もし空白ならば、検索結果を全て出す。
                if(this.season_name == ""){
                    this.pg_seasons = this.list;
                    return;
                };
                //検索ワードと同じなら配列にいれる
                if(season.season_name.indexOf(this.season_name) !== -1){
                    this.pg_seasons.push(season);
                };
            });
        },
        //モーダルを開く・閉じる
        showDeleteModal(season_id){
            this.delete_season_id = season_id;
            this.$modal.show('delete_modal');
        },
        closeDeleteModal(){
            this.delete_season_id = 0;
            this.$modal.hide('delete_modal');
        },
        deleteSeason(){
            var self = this;
            var url = "/api/season/delete"
            axios.post(url,{"season_id":this.delete_season_id,"user_id":this.user_id})
              .then((response)=>{
                  self.pg_seasons.splice(0,self.pg_seasons.length);
                  self.pg_seasons = response.data;
                  this.$modal.hide('delete_modal');
                  this.openSuccessAlert("指定したシーズンを削除しました！");
              })
        },
        //アラートを開く・閉じる
        openSuccessAlert(msg){
            this.success_message = msg;
            setTimeout(() => {
                this.success_message = false
            }, 7000);
        },
        closeAlert(){
            this.success_message = false;
            this.error_message = false;
        }
    },
    computed:{
        getSeasons() {
            let current = this.currentPage * this.parPage;
            let start = current - this.parPage;
            console.log(this.pg_seasons.slice(start, current));
            return this.pg_seasons.slice(start, current);
        },
        getPageCount(){
            return Math.ceil(this.pg_seasons.length / this.parPage);
        },

    }
}

</script>
