<template>
    <div class="app">
        <div class="card mx-auto my-3" style="width:95%">
              <div class="card-header">
                  <div class="">詳細検索</div>
              </div>
              <div class="card-body">
                  <div class="form-group">
                      <label for="game_name">ゲーム名</label>
                      <input class="form-control" type="text"
                        name="game_name" v-model="game_name">
                      <p class="text-right" style="font-size:12px;">
                          アルファベットの大文字・小文字は別文字として認識されます。
                      </p>
                  </div>
                  <div class="">
                      <div class="d-inline float-right btn btn-primary"
                        @click="searchGame">
                          <i class="fa fa-search"></i>検索
                      </div>
                  </div>
              </div>
        </div>
        <div>
            <div class="table-responsive-sm">
                <table class="table table-bordered mx-3 edit-table">
                    <thead class="thead-light">
                        <tr class="">
                            <th class="" style="width:35px;">ID</th>
                            <th class="" style="width:200px;">ゲーム名</th>
                            <th class="" style="width:220px;">ゲーム詳細</th>
                            <th class="" style="width:120px;">リーダー</th>
                            <th class="" style="width:120px;">フォーマット</th>
                            <th class="" style="width:100px;">設定</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr :class="{'table-primary':game.choice == 1}"
                        v-for="(game,index) in getGames">
                            <th class="">{{index + 1}}</th>
                            <th class="" style="cursor:pointer;"
                            @click="changeGame(game.id,user_id)">{{game.game_name}}</th>
                            <th class="">{{game.game_detail}}</th>
                            <th class="">
                                <div class="" v-for="leader in game.leaders">
                                    {{leader.leader_name}}
                                </div>
                            </th>
                            <th class="">
                                <div class="" v-for="format in game.formats">
                                    {{format.format_name}}
                                </div>
                            </th>
                            <th class="">
                            <div class="dropdown">
                                <button type="button" id="dropdown1"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    設定
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown1">
                                    <div class="dropdown-item" style="cursor:pointer;"
                                        @click="changeGame(game.id,user_id)">
                                        <i class="fas fa-exchange-alt"></i>ゲームの変更
                                    </div>
                                    <a class="dropdown-item" :href="'/mypage/game/edit/step1/' + game.id">
                                        <i class="fa fa-edit"></i>ゲーム編集
                                    </a>
                                    <a class="dropdown-item" :href="'/mypage/game/edit/step2/' + game.id">
                                        <i class="fa fa-edit"></i>リーダー編集
                                    </a>
                                    <a class="dropdown-item" :href="'/mypage/game/edit/step3/' + game.id">
                                        <i class="fa fa-edit"></i>フォーマット編集
                                    </a>
                                    <div class="dropdown-item text-danger" style="cursor:pointer;"
                                        @click="showDeleteModal(game.id)">
                                        <i class="fa fa-trash"></i>削除
                                    </div>
                                </div>
                            </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-right">
                <p class="d-inline-block" style="font-size:12px;">※青色で囲まれているものは現在設定中のゲームです。</p>
            </div>


            <paginate
                :click-handler="clickCallback"
                :page-count="getPageCount"
                :page-range="3"
                :margin-page="2"
                :prev-text="'＜'"
                :next-text="'＞'"
                :container-class="'pagination justify-content-center'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-class="'page-item'"
                :next-link-class="'page-link'">
            </paginate>
        </div>


        <!-- アラートメッセージ -->
        <alert
          :suc_msg="success_message"
          :err_msg="error_message"
          @close_alert="closeAlert"></alert>

        <!-- モーダル:削除 -->
        <modal name="delete_modal" :height="255">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">ゲーム削除</h2>
                </div>
                <div class="modal-body">
                    <p class="">このゲームを削除しますか？<br>（削除するとこのゲームの全てのデータが削除されます。）</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @click="closeDeleteModal">戻る</button>
                    <button class="btn btn-danger" @click="deleteGame">削除</button>
                </div>
            </div>
        </modal>

    </div>
</template>

<script>
import VModal from 'vue-js-modal'
import Paginate from 'vuejs-paginate';

Vue.use(VModal);
Vue.component('paginate', Paginate);

export default {
    props:{
        'user_id':Number,
        'list':Array,
        'alert':String,
    },
    data(){
        return {
            pg_games:this.list,
            parPage:8,
            currentPage:1,
            //検索する値
            game_name:"",
            //アラートメッセージのフラグ
            success_message:false,
            error_message:false,
            //削除対象のゲーム
            delete_game_id:"",
        }
    },
    mounted(){
        if(this.alert != ""){
            this.openSuccessAlert(this.alert);
        }
    },
    methods: {
        clickCallback(PageNum){
            this.currentPage = Number(pageNum);
        },
        changeGame(game_id,user_id){
            var self = this;
            var url = "/api/changegame";
            axios.post(url,{"game_id":game_id,"user_id":user_id})
              .then((request)=>{
                  self.pg_games.splice(0,self.pg_games.length);
                  self.pg_games = request.data;
                  this.openSuccessAlert("設定ゲームを変更しました！")
              })
        },
        searchGame(){
            var url = "/api/game/search"
            axios.post(url,{"game_name":this.game_name,"user_id":this.user_id})
              .then((response)=>{
                  this.pg_games = response.data;
              })
        },
        showDeleteModal(game_id){
            this.delete_game_id = game_id;
            this.$modal.show('delete_modal');
        },
        closeDeleteModal(){
            this.$modal.hide('delete_modal');
        },
        //ゲームデータの削除
        deleteGame(){
            var self = this;
            axios
              .post(
                  "/api/game/delete",
                  {
                      "game_id":this.delete_game_id,
                      "user_id":this.user_id
                  }
              )
              .then((response)=>{
                  //現在使用中で削除できなかったゲームの場合
                  if(self.pg_games.length == response.data.length){
                      self.error_message = "現在使用中のゲームは削除できません。";
                      setTimeout(() => {
                          self.error_message = false;
                      }, 5000);
                  }
                  //使用してなくて削除できるゲームの場合
                  self.pg_games.splice(0,self.pg_games.length);
                  self.pg_games = response.data;
                  this.$modal.hide('delete_modal');
                  this.openSuccessAlert("指定したゲームを削除しました！");
              })
        },
        //アラートを開く・閉じる
        openSuccessAlert(msg){
            this.success_message = msg;
            setTimeout(() => {
                this.success_message = false
            }, 7000);
        },
        closeAlert(){
            this.success_message = false;
            this.error_message = false;
        },
    },
    computed:{
        getGames() {
            let current = this.currentPage * this.parPage;
            let start = current - this.parPage;
            console.log(this.pg_games.slice(start, current));
            return this.pg_games.slice(start, current);
        },
        getPageCount(){
            return Math.ceil(this.pg_games.length / this.parPage);
        },
    }
}

</script>

<style media="screen">
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s
  }
  .fade-enter, .fade-leave {
  opacity: 0
  }
</style>
