<template id="">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="border border-dark my-3 px-2 py-2">１戦目</div>
            </div>
            <div class="col-3 ml-auto">
                <div class="border border-dark my-3 px-2 py-2">所持コイン数:100枚</div>
            </div>
        </div>
        <div class="row justify-content-between my-5">

            <div v-for="n of 5" :key="n" class="col-2">
                <img class="w-100" src="img/erugiosu.jpg" alt=""><br>
                <button class="btn btn-primary" type="button" name="button">カードを変える</button>
            </div>
            <!-- <div class="col-2">
                <img class="w-100" src="img/erugiosu.jpg" alt=""><br>
                <button class="btn btn-primary" type="button" name="button">カードを変える</button>
            </div>
            <div class="col-2">
                <img class="w-100" src="img/erugiosu.jpg" alt=""><br>
                <button class="btn btn-primary" type="button" name="button">カードを変える</button>
            </div>
            <div class="col-2">
                <img class="w-100" src="img/erugiosu.jpg" alt=""><br>
                <button class="btn btn-primary" type="button" name="button">カードを変える</button>
            </div>
            <div class="col-2">
                <img class="w-100" src="img/erugiosu.jpg" alt=""><br>
                <button class="btn btn-primary" type="button" name="button">カードを変える</button>
            </div> -->
        </div>
        <div class="row justify-content-around">
            <div class="col-4 border border-dark">
                <p>×2　  ツーペア</p>
                <p>×3　  スリーカード</p>
                <p>×4　  ストレート</p>
                <p>×5　  フラッシュ</p>
                <p>×6　  フルハウス</p>
                <p>×10　 フォーカード</p>
                <p>×20　 ストレートフラッシュ</p>
                <p>×50　 ファイブカード</p>
                <p>×100　ロイヤルストレートフラッシュ</p>
            </div>
            <div class="col-5 border border-dark text-center">
                <h2 class="my-3">BET枚数</h2>
                <button class="btn btn-danger" type="button" name="button">-50</button>
                <button class="btn btn-danger" type="button" name="button">-10</button>
                <button class="btn btn-danger" type="button" name="button">-1</button>
                <p class="d-inline-block">10枚</p>
                <button class="btn btn-success" type="button" name="button">+1</button>
                <button class="btn btn-success" type="button" name="button">+10</button>
                <button class="btn btn-success" type="button" name="button">+50</button><br>
                <button class="btn btn-primary" type="button" name="button">決定</button>
            </div>
        </div>
    </div>
</template>
